@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: #66c6c879;
    
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#tela_login{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 561px;
    width: 320px;
    font-size: 1em;
    background-color: rgb(255, 254, 254);
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.178);
    transform: translate(-50%,-50%);
    overflow-y: hidden;
}

#introduction{
    height: 187px;
    padding: 1em;
}

#introduction h1{
    padding: 0.5em 0;
    color: aquamarine;
}

#introduction :nth-child(2){
    color: greenyellow;
}

#introduction p{
    color: rgba(0, 0, 0, 0.466);
    line-height: 1.5em;
}

#product{
    height: 187px;
    color: white;
    background-color: #4BBEBB;
    padding: 1em;
}

#product h1{
    padding-bottom: 10px;
}

#product :nth-child(2){
    padding-bottom: 10px;
    color: rgba(255, 255, 255, 0.692);
}

#product strong#price{
    font-size: 2em;
    color: white;
}

#product a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.308);
    margin-top: 0.5em;
    padding: 1em 0;
    background-color: greenyellow;
}

#us{
    border-radius: 0 0 3px 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.096);
    height: 187px;
    padding: 1em;
    color: white;
    background-color: #66C6C8;
}

#us h1{
    padding-bottom: 0.2em;
}

#us p{
    font-size: 13px;
    line-height: 1.7em;
}




