@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(white,blue,darkblue);
    
}

main{
    border-radius: 3px;
    background-color: white;
}




